article{
    background-image: url(../kepek/image\ 1.png );
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    color: white;
    position: relative;
}

article > a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
main{
    width: 95%;
}
*{
    box-sizing: border-box;
}
body{
    margin: auto;
}
img{
    max-width: 100%;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 500px;
    height: 300px;
}
tr,td,th{
    border: 5px solid white;
    padding: 5px;
}
th{
    background-color: black;
    color: white;
}
td{
    background-color: whitesmoke;
}
.szekcio1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
section{
    background-color: whitesmoke;
    padding: 10px;
    margin: 50px;
}
body{
    grid-template-columns: 1fr 1fr;
}
nav > a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;   
}
nav {
    text-align: center;
}
.fooldal {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.szamalkkep{
    width: 5pc;
}
