article{
    background-image: url(../kepek/image\ 1.png );
    background-repeat: no-repeat;
}
main{
    width: 95%;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 500px;
    height: 300px;
}
tr,td,th{
    border: 5px solid white;
    padding: 5px;
}
th{
    background-color: black;
    color: white;
}
td{
    background-color: whitesmoke;
}
.szekcio1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


