body{
    background-image: url(../kepek/Piemont-Depositphotos_381440640_S.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
*{
    box-sizing: border-box;
}
#terkep{
width: 5%;
}
#szoveg{
    position: absolute;
    top: 0.0001%;
    left: 1.7%;
}
nav > a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: rgb(247, 247, 247);
    padding: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    margin: 2%;
}
h3{
    font-size: 40px;
}
.nev, .letrejott, .egyseg {
    background-color: rgba(19, 19, 19, 0.7);
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width:1200px) {
    article{
        display: grid;
        grid-template-columns: 1fr ;
    }
    nav{
        grid-template-columns: 1fr;
        text-align: center;
    }
    #szoveg{
        left: 8%;
        top: 0.4%;
    }
}
@media screen and (max-width:600px) {
    #szoveg{
        left: 8%;
        top: 0.000001%;
    }
}
