article{
    background-image: url(../kepek/image\ 1.png );
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px;      
    position: relative;
    background-position: center;
    border-radius: 30px;
    min-height: 350px;
    margin: 10px;
    
}
article > b{
    font-size: 55px;
    position: absolute;
    width: 50%;
    bottom: 40%;
    
}
article > p{
    font-size: 18px;
    width: 40%;
    position: absolute;
    bottom: 25%;  
    font-weight: bold;  
}
article > a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
*{
    box-sizing: border-box;
}
body{
    margin: auto;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 20em;
}
tr,td,th{
    border: 5px solid whitesmoke ;
    padding: 5px;
}
th{
    background-color: black;
    color: white;
}
td{
    background-color:rgb(192, 192, 192);
}
.szekcio1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
section {
    background-color: whitesmoke;
    padding: 5px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(32, 31, 31, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    background-color: lightgrey;
    width: 90%;
}
section > img{
    width: 50%;
    margin-left: 20%;
    
}
section > p{
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-size: 25px;
}
section > h3,p{
    text-align: center;
}
body{
    grid-template-columns: 1fr 1fr;
    
}
nav > a {
    text-decoration: none;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50px;
    color: black;   
    font-weight: bold;
}
nav {
    text-align: center;
}
.fooldal {
    display: grid;
    grid-template-columns: 12fr 8fr;
}
.szamalkkep{
    width: 10em;
    position: relative;
    top: 5px;
    left: 5px;
}
@media screen and (max-width:900px) {

    .fooldal {
        grid-template-columns: 1fr;   
    }

    article {
        padding: 25px;
        min-height: 280px;
    }

    article > b {
        font-size: 32px;
        width: 100%;
        bottom: 60%;
    }

    article > p {
        font-size: 16px;
        width: 90%;
    }


    section {
        height: auto;
    }

    table {
        width: 100%;   
        font-size: 14px;
    }

    nav > a {
        margin: 5px;
        display: inline-block;
    }

    .szamalkkep {
        width: 20%;
        margin: 10px;
    }
}
@media screen and (max-width:600px) {
    .szekcio1{
        display: grid;
        grid-template-columns: 1fr;    
    }
}