* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}

nav > a {
    text-decoration: none;
    color: black;
}
.oldalak img {
    border-radius: 32px;
}
nav{ 
    background-color: rgb(247, 247, 247); 
    padding: 20px; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    font-size: 20px; 
}
.navteto > p{
    position: absolute;
    top: 0.1%;
    left: 2%;
}
#terkep {
    width: 1em;
}
h1{
    margin: 1%;
    letter-spacing: 0.5px;
    font-size: 40px;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3% ;
}
.oldalak{
    background-color: #e0e0e0; 
    border-radius: 32px;
    padding-bottom: 50px; 
}
.oldalak img{
    width: 100%;
    max-height: 90%;
    min-height: 90%;
   
}
.oldalak > a{
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px;
    position: relative;
    top: 6.7%;
    left: 6%;
    font-weight: bold;
    font-size: 200%;
}
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 60px;
    padding: 40px;
}
aside{
    font-size: 50px;
    color: rgb(88, 87, 87);
}
@media screen and (max-width:1350px) {
    article{
        display: grid;
        grid-template-columns: 1fr;
    }
    aside{
        font-size: 30px;
    }
    .oldalak{
        font-size: 15px;
    }
    
}
@media screen and (max-width:800px) {
    .oldalak{
        font-size: 10px;
    }
    nav{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .navteto > p{
        position: relative;
    }
}
@media screen and (max-width:700px) {
    .oldalak{
        font-size: 10px;
    }
    main{
        grid-template-columns: 1fr;
    }
    aside{
        font-size: 15px;
        margin-top: 100px;
    }
}