body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.hattervideo {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


nav {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    padding: 15px 30px;
    background: white;
    border-bottom: 2px solid #ddd;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav a:hover {
    color: blueviolet;
}


.olasz_zarandoklat {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 20px 30px;
}

.olasz_zarandoklat img {
    width: 30px;
}

h1 {
    font-size: 28px;
    margin: 0;
    color: whitesmoke;
    font-style: italic;
    text-decoration: underline;
}


.kep_savoya {
    margin: 30px auto;
    text-align: center;
}

.kep_savoya img {
    width: 60%;
    max-width: 400px;
    border-radius: 10px;
}


h2 {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    text-decoration: underline;
    color: white;
    font-style: italic;
}


.torino_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px 30px 60px;
}


.torino_savoya {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "kep"
        "szo";
    background: #e6e6e6;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid bisque;
}

.torino_savoya img {
    grid-area: kep;
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: #e6e6e6;
    border-radius: 20px 20px 0 0;
}

.torino_szoveg {
    grid-area: szo;
    background: #f5f5f5;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: black;
}


@media (max-width: 875px) {
    .torino_grid {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .kep_savoya img {
        width: 90%;
    }

    nav {
        grid-template-columns: 1fr;
        text-align: center;
    }
}