body{
    background-image: url(janitemplom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}


img {
    max-width: 90%;
    border-radius: 10%;
    margin: auto;
}
div {
    background-color: rgba(19, 19, 19, 0.7);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 60%;
    margin-left: 100px;
    padding: 40px;
    width: 50%;
    margin-top: 3%;
    font-size: large;

}


p {
    color: rgb(255, 255, 255);
}

h1{
    color: white;
}

html{
    width: 100%;
}

*{
    box-sizing: border-box;
}
#terkep{
    width: 5%;
}

#szoveg{
    position: absolute;
    top: 0.0001%;
    left: 1.7%;
    color: black;
}

nav > a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: rgb(247, 247, 247);
    padding: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

@media screen and (max-width: 850px){
    
    div {
        background-color: rgba(19, 19, 19, 0.7);
        border-radius: 50px;
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        padding: 6%;
        font-size: large;
    }

    img {
        max-width: 100%;
        border-radius: 10%;
    }


    nav {
        background-color: rgb(247, 247, 247);
        padding: 3%;
        display: grid;
        grid-template-columns: 1fr;
        font-size: 120%;
        text-align: center;
    }

}
