
*{
    box-sizing: border-box;
}
#terkep{
width: 20px;


}
#szoveg{

padding: 0%;
margin: 0%;
}




nav{
    display: grid;
    grid-template-columns:20px 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-areas: 
    "image sz link fo ber lat book"
    ; */
    

}
