* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}



nav > a {
    text-decoration: none;
    color: black;
}

nav{ 
    background-color: rgb(247, 247, 247); 
    padding: 20px; 
    display: grid; 
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    font-size: 20px; 
}

#terkep {
    width: 5%;
}