* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}



nav > a {
    text-decoration: none;
    color: black;
}

nav{ 
    background-color: rgb(247, 247, 247); 
    padding: 20px; 
    display: grid; 
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    font-size: 20px; 
}

#terkep {
    width: 5%;
}


.latnivalok {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
}


.div1, .div2, .div3, .div4 {
    background-color: rgba(19, 19, 19, 0.7);
    border-radius: 50px;
    padding: 40px;
    font-size: large;
}

img {
    max-width: 100%;
    border-radius: 10%;
    margin-top: 20px;
}

p, h1 {
    color: white;
}
