body{
    background-image: url('../kepek/janitemplom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

div {
    background-color: black;
    opacity: 50%;
    border-radius: 50px;
    
}

p {
    color: white;
}

h1{
    color: white;
}