body{
    background-image: url('../kepek/janitemplom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

div {
    background-color: black;
    opacity: 50%;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 60%;
    margin-top: 100px;
    margin-left: 50px;
    padding: 40px;
    width: 45%;
}

p {
    color: rgb(255, 255, 255);
}

h1{
    color: white;
}

html{
    width: 100%;
}